# Core ML/DL Frameworks
torch==2.8.0+cu126
transformers==4.57.0.dev0 

# Vector Search
# Use faiss-gpu if you have a CUDA-enabled GPU and the correct CUDA toolkit version installed.
# Otherwise, use faiss-cpu.
# faiss-cpu==1.12.0
faiss-gpu==1.7.2

# Data Science & Numerics
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.7.1

# Data Visualization
matplotlib==3.10.6

# Web Scraping
openreview-py==1.52.2
requests==2.31.0
beautifulsoup4==4.12.2

# Utilities
tqdm==4.67.1

# API Clients
# Used by the llm_judge.py script
openai==1.107.0  